.header-container {
  background-color: #2e2e2e;
  padding: 20px; }

.header {
  padding-top: 10px !important;
  color: #fff !important; }
  .header .weather-icon {
    display: inline-block !important;
    margin: 0 30px !important; }
    .header .weather-icon.sun {
      color: orange !important; }
    .header .weather-icon.cloud {
      color: #006fa7 !important; }
